{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .bootstrap-select>.dropdown-toggle {
            padding-right: 25px;
            z-index: 1;
            border: 1px solid #CCC;
            color: black;
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            /*width: auto !important;*/
            margin-right: 25px;
        }
        .bootstrap-select.btn-group .dropdown-menu li {
            position: relative;
            font-size: 16px;
            color: #3277b2;
        }
        .bootstrap-select.btn-group .dropdown-menu li a.opt {
            position: relative;
            padding-left: 2.25em;
            font-size: smaller;
        }
        #composantId .btn-group.bootstrap-select {
            display: inline;
        }
        #axeId .btn-group.bootstrap-select {
            display: inline;
        }
        #LevelId .btn-group.bootstrap-select {
            display: inline;
        }
        .bootstrap-select.btn-group .dropdown-toggle .filter-option {
            display: inline-block;
            overflow: hidden;
             width: 90%!important;
            text-align: left;
        }
        .dropdown-menu .divider {
            display: none;
        }
        .tableBanque {
            width: 100%;
            font-weight: 600;
        }
        .middlealign {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block analyser %}
    <div class="box box-primary" id="boxId">
        <div class="box-body" ng-controller="analyzeController">
            <form id="formAnalyse"   class="form-horizontal" name="myForm" style="margin-bottom: 15px">
                <div class="form-group acmpAxeLev" id="composantId">
                    <label for="numcompte">Composant à analyser:</label>
                    <select title="Aucune sélection" ng-model="formData.composant"  name="composant"  class="selectpicker" id="numcompte" required>
                        <option data-hidden="true"></option>
                        {% for grp in groupes %}
                            {% if grp.composants.count > 0 %}
                                <optgroup label="{{ grp.name }}">
                                    {% for comp in grp.composants %}
                                        <option style="color: black" value="{{ comp.id}}|{{ comp.name }}">{{ comp.name }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group acmpAxeLev" id="axeId">
                    <label for="axe">Choisir un axe :</label>
                    <select title="Aucune sélection" ng-model="formData.axe" name="axe"  class="selectpicker" id="axe" required>
                        <option></option>
                        {% for axe in axes  %}
                            <option style="color: black" class="option" value="{{ axe.code }}|{{ axe.name }}">{{ axe.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group acmpAxeLev" id="LevelId">
                    <label for="axe">Choisir un niveau</label>
                    <select title="Aucune sélection"  ng-model="formData.level" name="niveau"  class="selectpicker" id="axe" required>
                        <option></option>
                        {% for level in levels %}
                            <option style="color: black" value="{{ level.niveau }}|{{ level.name }}">{{ level.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Date début:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input id="startDatePicker" type="text" ng-model="formData.startDate" name="startDate" class=" form-control pull-right">
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="form-group">
                    <label>Date fin:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input id="endDatePicker"  type="text" ng-model="formData.endDate" name="endDate"  class=" form-control pull-right">
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="form-group">
                    <button type="button" ng-click="myForm.$valid && analyser(formData)" class="btn btn-primary">Analyser</button>
                </div>

            </form>
        </div>
    </div>
    {% endblock %}

{% block body %}
    <div ng-controller="analyzeController">
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <div id="container" style="width:100%; height:550px;"></div>

        <div id="tableauSynthese" class="box" style="margin-top: 10px!important; display: none">
            <div class="box-header">
                <h3 class="box-title">Tableau de synthèse des postes comptable de la région de [[titre]] </h3>
            </div>
            <div  class="box-body" ng-show="postecomptabelNbCheque.length > 0" ng-init="escapeQuote()">
                <table id="tableauResult" class="table collaptable table-bordered table-striped">
                    <thead style="background-color: #3c8dbc;color: white">
                        <tr>
                            <th style="width: 10px;"></th>
                            <th>Titulaire</th>
                            <th>Nombre</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="nb in postecomptabelNbCheque" id="bodyId[[nb.id]]">
                        <tr ng-if="nb.childrens.length > 0"  data-toggle="collapse" data-target="#demo[[nb.id]]" class="accordion-toggle">
                            <td><button style="margin-top: -5px !important;" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                            <td class="middlealign">[[ nb.name ]]</td>
                            <td class="nombreMask text-right middlealign">[[ nb.nbChq ]]</td>
                            <td class="nombreMask text-right middlealign">[[ nb.Mtotal ]]</td>
                        </tr>
                        <tr ng-if="nb.childrens.length == 0">
                            <td></td>
                            <td class="middlealign">[[ nb.name ]]</td>
                            <td class="nombreMask  text-right middlealign">[[ nb.nbChq ]]</td>
                            <td class="nombreMask  text-right middlealign">[[ nb.Mtotal ]]</td>
                        </tr>

                        <tr ng-if="nb.childrens.length > 0"  class="accordian-body collapse" id="demo[[nb.id]]">
                            <td></td>
                            <td>
                                <table class="tableBanque">
                                    <tr ng-repeat="child in nb.childrens">
                                        <td>[[child.name]]</td>
                                    </tr>
                                </table>

                            </td>
                            <td>
                                <table class="tableBanque">
                                    <tr ng-repeat="child in nb.childrens">
                                        <td class="nombreMask text-right">[[child.nbTotal]]</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="tableBanque">
                                    <tr ng-repeat="child in nb.childrens">
                                        <td  class="nombreMask text-right">[[child.valeur]]</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td style="font-size: 20px;" class="text-center" colspan="2"><strong>TOTAL GENERAL</strong></td>
                        <td style="font-size: 20px" class="nombreMask text-right"><strong>[[nbChqTotal]]</strong></td>
                        <td style="font-size: 20px" class="nombreMask text-right"><strong>[[MntTotal]]</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <did id="chartBlock">
            <div style="margin-top: 10px" class="col-lg-6 col-md-6 col-xs-12">
                <div class="" id="chartContainer"></div>
            </div>
            <div style="margin-top: 10px"  class="col-lg-6 col-md-6 col-xs-12" >
                <div id="pieContainer"></div>
            </div>
        </did>
        <!-- Trigger the modal with a button -->
        <button style="display: none;" type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#myModal"></button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Récupération impossible</h4>
                    </div>
                    <div class="modal-body">
                        <p></p><i class="fa fa-warning text-red"></i> <strong>Oops!</strong> il n'y a pas de données sur cet interval.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary    " data-dismiss="modal">Fermer</button>
                    </div>
                </div>

            </div>
        </div>


        {#<div class="" id="chartContainer2"></div>#}
    </div>
{% endblock %}

{% block javascripts %}
        <script>
            window.onload = function () {
                $('#startDatePicker').datepicker({
                    format : 'dd/mm/yyyy',
                    language: 'fr',
                    todayHighlight: true,
                    autoclose: true
                }).on('changeDate', function (e) {
                    $('#formAnalyse').formValidation('revalidateField', 'startDate');
                });
                 $('#endDatePicker').datepicker({
                    format : 'dd/mm/yyyy',
                    language: 'fr',
                    todayHighlight: true,
                    autoclose: true
                }).on('changeDate', function (e) {
                    $('#formAnalyse').formValidation('revalidateField', 'endDate');
                });

              $('.btn-group .bootstrap-select').css('display','inline!important;');
            };
//            $(document).ready(function () {
//                $('.select').selectpicker();
//                console.log('sfvsdf');
//                $('.highcharts-credits').text('');
//                //Date picker
//
//
//            });

        </script>
{% endblock %}