<form role="form" method="post" id="frmUserAdd" enctype="multipart/form-data">
    <div class="alert alert-danger" id="flashErrorFrom" hidden="hidden">{{ form_errors(form) }}</div>

    <div class="form-group">
        <label for="exampleInput">Nom d'utilisateur</label>
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom utilisateur'} }) }}
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
    </div>
    <div class="form-group">
        <label for="">Mot de passe</label>
        {{ form_errors(form.plainPassword) }}
        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
    </div>
    <div class="form-group">
        <label for="">Noeud</label>
        {{ form_errors(form.node) }}
        {{ form_widget(form.node, {'attr': {'class': 'form-control'} }) }}
    </div>
    {#<div class="form-group">#}
        {#<label for="">Rôles</label>#}
        {#{{ form_errors(form.profiles) }}#}
        {#{{ form_widget(form.profiles, {'attr': {'class': 'form-control'} }) }}#}
    {#</div>#}
    <div class="form-group">
        <label for="">Image</label>
        {{ form_errors(form.file) }}
        {{ form_widget(form.file, {'attr': {'class': 'form-control'} }) }}
    </div>
    {{ form_widget(form._token) }}
    <div class="form-group">
    </div>
    <button type="submit"  class="btn btn-sm btn-success" >Ajouter</button>
    <img src="{{ asset('img/minload.gif') }}" alt="loading" id="loadingUser" hidden="hidden">
</form>

<script>
    if($('#flashErrorFrom').html() !== ''){
        $('#flashErrorFrom').removeAttr('hidden');
    }
    else $('#flashErrorFrom').attr('hidden', 'hidden');

    $('form#frmUserAdd').submit(function(evt) {
        evt.preventDefault();
        _show('loadingUser');
        $('.modal-backdrop').attr('id', 'modalClose');
        var form = document.querySelector('form');
        var formData = new FormData(form);
        $.ajax({
            url: Routing.generate('user_add'),
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.error == null) {
                    _hide('loadingUser');
                    _get('list_users','', 'users', 'loadingUser');
                    $('#' + 'modalClose').removeClass('modal-backdrop fade in');
                    if (_getHtmlValue('frmUserModal') !== '') { $('#' + 'closeuser').click();}
                }

            },
            cache: false,
            contentType: false,
            processData: false
        });

    });
</script>